body {
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  
}

.gauche {
  justify-content: left;
}

.droite {
  text-align: right;
}

header {
  background-color: DodgerBlue;
}

.présentation {
  background-color: DodgerBlue;
  color: white;
}

h1, h3 {
  color: white;
}

.image {
  background-color: grey;
}
