body {
  margin: 5px;
  width: 100%;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 50px;
}

.gauche {
  justify-content: left;
}

.droite {
  text-align: right;
}

header {
  background-color: DodgerBlue;
}

.presentation {
  background-color: DodgerBlue;
  color: white;
}

.presentation h2 {
  font-size: 150%;
}

h1 {
  color: white;
}

h2 {
  text-align: center;
}

.innovation {
  text-align: center;
}

.image {
  background-color: LightGray;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.bouton {
  height: 300px;
  display: flex;
  justify-content: center;
}

.bouton div {
  background-color: blue;
}

footer {
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}
